---
suppress_header: true
extra_css:
  - blog-landing.css
extra_js:
  - blog-home.js
---

// Create list of articles by category
- news_blog_articles = blog('blog').articles.keep_if{ |a| a.data.categories.include?("Product News") || a.data.categories.include?("Company News") || a.data.categories.include?("news")}
- news_articles = [ news_blog_articles[0..12] ].flatten.compact.sort_by(&:date).reverse

- product_news_blog_articles = blog('blog').articles.keep_if{ |a| a.data.categories.include?("Product News")}
- product_news_articles = [ product_news_blog_articles[0..12] ].flatten.compact.sort_by(&:date).reverse

- company_news_blog_articles = blog('blog').articles.keep_if{ |a| a.data.categories.include?("Company News")}
- company_news_articles = [ company_news_blog_articles[0..12] ].flatten.compact.sort_by(&:date).reverse

- releases = blog('releases').articles.keep_if{ |a| a.data.categories.include?("releases")}
- releases_articles = [ releases[0..12] ].flatten.compact.sort_by(&:date).reverse

- engineering_blog_articles = blog('blog').articles.keep_if{ |a| a.data.categories.include?("engineering")}
- engineering_articles = [ engineering_blog_articles[0..12] ].flatten.compact.sort_by(&:date).reverse

- opensource_blog_articles = blog('blog').articles.keep_if{ |a| a.data.categories.include?("open source")}
- opensource_articles = [ opensource_blog_articles[0..12] ].flatten.compact.sort_by(&:date).reverse

- culture_blog_articles = blog('blog').articles.keep_if{ |a| a.data.categories.include?("culture")}
- culture_articles = [ culture_blog_articles[0..12] ].flatten.compact.sort_by(&:date).reverse

- insights_blog_articles = blog('blog').articles.keep_if{ |a| a.data.categories.include?("insights")}
- insights_articles = [ insights_blog_articles[0..12] ].flatten.compact.sort_by(&:date).reverse

- company_blog_articles = blog('blog').articles.keep_if{ |a| a.data.categories.include?("company")}
- company_articles = [ company_blog_articles[0..12] ].flatten.compact.sort_by(&:date).reverse

- security_blog_articles = blog('blog').articles.keep_if{ |a| a.data.categories.include?("security")}
- security_articles = [ security_blog_articles[0..12] ].flatten.compact.sort_by(&:date).reverse

- unfiltered_blog_articles = blog('blog').articles.keep_if{ |a| a.data.categories.include?("unfiltered")}
- unfiltered_articles = [ unfiltered_blog_articles[0..12] ].flatten.compact.sort_by(&:date).reverse

- content_for :title do
  = categories.to_s.camelize

.wrapper.blog-landing
  .blog-landing-sidebar
    .blog-logo-background
      %h1
        = categories.to_s.camelize

    .blog-sidebar-module-wrap
      .blog-sidebar-module.blog-sidebar-module-subscribe
        %h3 Subscribe
        = partial "includes/newsletter-signup-short.html"

      = partial "includes/layout/blog_search.html.haml"

      .blog-sidebar-module.blog-sidebar-module-categories
        %h3
          Categories
        = partial "includes/blog/category-nav"

      .blog-sidebar-module.blog-sidebar-module-social
        %h3
          Follow Us
        = partial "includes/social-icon-links.html"

  .blog-landing-content
    - if current_page.url == "/blog/categories/news/"
      = partial "includes/blog/hero-post", locals: {articles: news_articles[0...1]}

    - if current_page.url == "/blog/categories/product-news/"
      = partial "includes/blog/hero-post", locals: {articles: product_news_articles[0...1]}

    - if current_page.url == "/blog/categories/company-news/"
      = partial "includes/blog/hero-post", locals: {articles: company_news_articles[0...1]}

    - if current_page.url == "/releases/categories/releases/"
      = partial "includes/blog/hero-post", locals: {articles: releases_articles[0...1]}

    - if current_page.url == "/blog/categories/engineering/"
      = partial "includes/blog/hero-post", locals: {articles: engineering_articles[0...1]}

    - if current_page.url == "/blog/categories/open-source/"
      = partial "includes/blog/hero-post", locals: {articles: opensource_articles[0...1]}

    - if current_page.url == "/blog/categories/culture/"
      = partial "includes/blog/hero-post", locals: {articles: culture_articles[0...1]}

    - if current_page.url == "/blog/categories/insights/"
      = partial "includes/blog/hero-post", locals: {articles: insights_articles[0...1]}

    - if current_page.url == "/blog/categories/company/"
      = partial "includes/blog/hero-post", locals: {articles: company_articles[0...1]}

    - if current_page.url == "/blog/categories/security/"
      = partial "includes/blog/hero-post", locals: {articles: security_articles[0...1]}

    - if current_page.url == "/blog/categories/unfiltered/"
      = partial "includes/blog/hero-post", locals: {articles: unfiltered_articles[0...1]}

    .blog-heading-bar
      %h3 Recent Posts

    .flex-grid.blog-recent-post-grid

      - if current_page.url == "/blog/categories/news/"
        = partial "includes/blog/list-without-unfiltered-v2", locals: {articles: news_articles[2...24]}

      - if current_page.url == "/blog/categories/news-product/"
        = partial "includes/blog/list-without-unfiltered-v2", locals: {articles: product_news_articles[2...24]}

      - if current_page.url == "/blog/categories/news-company/"
        = partial "includes/blog/list-without-unfiltered-v2", locals: {articles: company_news_articles[2...24]}

      - if current_page.url == "/releases/categories/releases/"
        = partial "includes/blog/list-without-unfiltered-v2", locals: {articles: releases_articles[2...24]}

      - if current_page.url == "/blog/categories/engineering/"
        = partial "includes/blog/list-without-unfiltered-v2", locals: {articles: engineering_articles[2...24]}

      - if current_page.url == "/blog/categories/open-source/"
        = partial "includes/blog/list-without-unfiltered-v2", locals: {articles: opensource_articles[2...24]}

      - if current_page.url == "/blog/categories/culture/"
        = partial "includes/blog/list-without-unfiltered-v2", locals: {articles: culture_articles[2...24]}

      - if current_page.url == "/blog/categories/insights/"
        = partial "includes/blog/list-without-unfiltered-v2", locals: {articles: insights_articles[2...24]}

      - if current_page.url == "/blog/categories/company/"
        = partial "includes/blog/list-without-unfiltered-v2", locals: {articles: company_articles[2...24]}

      - if current_page.url == "/blog/categories/culture/"
        = partial "includes/blog/list-without-unfiltered-v2", locals: {articles: culture_articles[2...24]}

      - if current_page.url == "/blog/categories/security/"
        = partial "includes/blog/list-without-unfiltered-v2", locals: {articles: security_articles[2...24]}

      - if current_page.url == "/blog/categories/unfiltered/"
        - unfiltered_articles.each do |article| [0...1]

          - image_title = article.data.image_title ? article.data.image_title : '/images/default-blog-image.png'

          .flex-col.flex-col-1-3
            .blog-card
              %a.blog-card-image-wrap{ href: article.url }
                .blog-card-image
                  = image_tag "#{image_title}", alt: "Post Image"
              / .blog-card-tag
              /   Insights
              .blog-card-content
                %a.blog-card-title{ href: article.url }
                  %h3
                    - if article.data.release_number
                      GitLab
                      = article.data.release_number
                      released
                    - else
                      = article.title
                .blog-card-meta
                  .blog-card-author
                    - guest = article.data.guest
                    - anchor = article.data.author_twitter || article.data.author_gitlab
                    - if guest
                      = article.data.author
                    - else
                      - if anchor
                        = link_to article.data.author, "/company/team/##{anchor}"
                      - else
                        = article.data.author
                  .blog-card-date
                    = article.date.to_time.strftime '%b %e, %Y'
                .blog-card-excerpt
                  %p
                    - if article.data.description
                      = article.data.description
                    - else
                      = article.summary
