%div#sticky-banner{:style => "background: #380D75;padding: 1rem 5rem 1rem 1.75rem; position: sticky; top: 58px; z-index: 101; display: flex; align-items: center; justify-content: space-evenly;"}
  %p.text-center.hero-content{:style => "margin: 0;"}
    Learn how five AWS customers use GitLab. All-in-one DevOps meets all-in-one cloud.
    %a{:href => "/resources/ebook-five-aws-customers/", :style => "text-decoration: underline;"} Download the eBook.
  %img#dismiss-trial{:style => "width: auto; height: 3.5rem; padding: 1rem; cursor: pointer; color: #fff; position: absolute; right: 12px;", :alt => "Close banner", :src => "/images/icons/x.svg"}
