%div{:style => "background: #fff; color: #000;"}
  .container
    .row.u-padding-top-md.u-padding-bottom-md
      .col-md-6.u-padding-top-lg
        .row
          .col-md-12.u-margin-bottom-sm
            %h1.u-margin-bottom-xxs{:style => "font-weight: 600;"} The complete DevOps platform
            %h3.u-margin-bottom-xxs{:style => "font-weight: 400;"} One application, endless possibilities. Developers rely on GitLab to deliver software with source code management, CI/CD, security and more.
        .row.u-margin-bottom-xs
          .col-md-12
            %p.btn-height.u-margin-bottom-0.hero-content
              = link_to "Start your free trial", "/free-trial/", class: "btn orange cta-btn u-margin-right-0" 
              %span &nbsp; 
              %span or 
              = link_to "Contact sales", "/sales/"
        .row
          .col-md-12{style: "margin-bottom:20px;"}
            %p{:style => "color: #828282;"} Trusted by 10,000 organizations, loved by 30 million developers
        .row
          .col-md-12
            = image_tag "/images/customers/logo_ticketmaster_2_color.svg", alt: "Ticketmaster logo", loading: "lazy", class: "intro-organization-logo"
            = image_tag "/images/organizations/logo_siemens_color.svg", alt: "Siemens logo", loading: "lazy", class: "intro-organization-logo"
            = image_tag "/images/organizations/logo_equinix_2_color.svg", alt: "Equinix logo", loading: "lazy", class: "intro-organization-logo"
            = image_tag "/images/organizations/logo_nvidia_color.svg", alt: "NVIDIA logo", loading: "lazy", class: "intro-organization-logo"
    
      .col-md-5.col-md-offset-1
        %picture
          %source{media: "(max-width: 959px)", srcset: "/images/home/gitlab-home-header-mobile.png"}
          %img{src: "/images/home/gitlab-home-header-desktop.png", alt: "Dev Ops platform", loading: "lazy", style: "max-height: 600px;"}


%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>
